<div class="row" id="main-content">
  <div class="col-md-6">
    <img src="/assets/avatar.JPG" alt="" id="avatar" class="animated fadeIn">
  </div>
  <!-- End half col -->
  <div class="col-md-6" id="right-content">
    <h1 class="animated slideInDown">Hello,</h1>
    <h3 class="animated slideInDown">I'm NGUYEN QUANG THAI</h3>
    <div class="row">
      <div class="col-md-4 col-4">
        <a href="resume" class="home_link" class="animated fadeIn delay-1s">
          <img src="assets/one.png" alt="">
          <br />
          My Resume</a>
      </div>
      <!-- End col -->
      <div class="col-md-4 col-4">
        <a href="" class="home_link" class="animated fadeIn delay-2s">
          <img src="assets/two.png" alt="">
          <br />
          My Experience</a>
      </div>
      <!-- End col -->
      <div class="col-md-4 col-4">
        <a href="" class="home_link" class="animated fadeIn delay-3s">
          <img src="assets/three.png" alt="">
          <br />
          My Skill</a>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
    <hr />
    <q class="animated fadeIn delay-4s">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.
      Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to write more.
      Tell a story and let your users get to know you.
    </q>
  </div>
  <!-- End half col -->
</div>
<!-- End row -->