<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        1 .Robot Fault Detection
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <td>Company</td>
            <td>Samsung R&D Vietnam</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Team size</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Purpose project</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>Front end developer</td>
          </tr>
          <tr>
            <td>Technical</td>
            <td>Angular, Python - Flask, Mongo</td>
          </tr>
          <tr>
            <td>Responsde</td>
            <td>Report</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        2 .Human machine interface
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <td>Company</td>
            <td>Samsung R&D Vietnam</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Team size</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Purpose project</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>Front end developer</td>
          </tr>
          <tr>
            <td>Technical</td>
            <td>Angular, Python - Flask, Mongo</td>
          </tr>
          <tr>
            <td>Responsde</td>
            <td>Report</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        3 .Private
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <td>Company</td>
            <td>Samsung R&D Vietnam</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Team size</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Purpose project</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>Front end developer</td>
          </tr>
          <tr>
            <td>Technical</td>
            <td>Angular, Python - Flask, Mongo</td>
          </tr>
          <tr>
            <td>Responsde</td>
            <td>Report</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        4. Web manage store
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <td>Company</td>
            <td>Samsung R&D Vietnam</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Team size</td>
            <td>3 member</td>
          </tr>
          <tr>
            <td>Purpose project</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>Front end developer</td>
          </tr>
          <tr>
            <td>Technical</td>
            <td>Angular, Python - Flask, Mongo</td>
          </tr>
          <tr>
            <td>Responsde</td>
            <td>Report</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>