<!--The content below is only a placeholder and can be replaced.-->


<header id="header">
  <nav id="nav-top">
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="resume" routerLinkActive="active">Resume</a>
    <a routerLink="projects" routerLinkActive="active">Projects</a>
    <a routerLink="contact" routerLinkActive="active">Contact</a>
  </nav>
  <!-- End nav top -->
</header>
<!-- End header -->
<main>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</main>
<!-- End main_content -->
<footer>

</footer>
<!-- End footer -->