<h3>NGUYEN QUANG THAI</h3>
<h5>Infomation</h5>
<table class="table table-bordered">
  <tr>
    <td>Email</td>
    <td>thai8763@gmail.com</td>
  </tr>
  <tr>
    <td>Phone number</td>
    <td>0979369407</td>
  </tr>
  <tr>
    <td>Location</td>
    <td>Nam Dinh Province</td>
  </tr>
</table>

<h5>Work Experience</h5>
<table class="table table-bordered">
  <tr>
    <td>Samsung R&D VietNam</td>
    <td>11/2017 - Now</td>
  </tr>
  <tr>
    <td>FPT Software</td>
    <td>07/2017 - 09/2017</td>
  </tr>
</table>

<h5>Skill</h5>
<table class="table table-bordered">
  <tr>
    <td>Programing</td>
    <td>Java, Javascript, Python</td>
  </tr>
  <tr>
    <td>Frameworks</td>
    <td>Flasks - Python, Angular</td>
  </tr>
  <tr>
    <td>Database RDMS</td>
    <td>MySQL</td>
  </tr>
  <tr>
    <td>Database NoSQL</td>
    <td>Mongo DB</td>
  </tr>
  <tr>
    <td>Source control</td>
    <td>Git</td>
  </tr>
</table>

<h5>Education</h5>
<table class="table table-bordered">
  <tr>
    <td>Graduated</td>
    <td>Dai hoc Bach Khoa Ha Noi - HUST</td>
  </tr>
  <tr>
    <td>Major</td>
    <td>Software Engineering</td>
  </tr>
  <tr>
    <td>Rank</td>
    <td>Good - 3.08</td>
  </tr>
</table>

<h5>Cerfiticate</h5>
<table class="table table-bordered">
  <tr>
    <td>English TOIEC IIG 2019-2021</td>
    <td>660 point</td>
  </tr>
</table>